@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.prose {
  color: #0a0604;
}

.prose h1,
.prose h2,
.prose h3 {
  color: #2a3449;
  font-weight: bold;
  margin-top: 1em;
  margin-bottom: 0.5em;
}

.prose ul,
.prose ol {
  margin-left: 1.5em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.prose li {
  margin-bottom: 0.25em;
}

.prose p {
  margin-bottom: 0.75em;
}

.prose strong {
  font-weight: bold;
  color: #2a3449;
}
